body {

  background: linear-gradient(-45deg, #E3F02F, #4497A8);
  background-size: 100% 1000%;
}
.container{
  height: 25pc;
  width: 25pc;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
}
.lisaatxt {
  position: relative;
  height: 5px;
  width: 60%;
  margin: auto;
  top: 25px;
  right: 0;left: 0;
  outline: none;
  border: none;
  padding: 20px;
  padding-right: 50px;
  border-radius: 2%;
}
.nappi {
  position: relative;
  height: 45px;
  width: 80px;
  margin: auto;
  top: 25px;
  right: 0px;
  cursor: pointer;
  font-family: monospace;
  font-weight: 500;
  font-size: 120%;
  background-color: whitesmoke;
  border-radius: 7px;
}
.nappi:hover {
  background-color: gray;
}
.lista {
  position: relative;
  padding-top: 20px;
  padding-bottom: 70px;
  top: 30px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 22px 70px 4px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  
}
center {
  position: relative;
  height: 45px;
  width: 240px;
  left: 20px;
  margin-top: 10px;
  background-color: white;
  font-family: monospace;
  font-weight: 550;
  font-size: 120%;
  border-radius: 5px;
}


.tehtava {
  position: relative;
  top: 30%; 
  
}
#quan {
  padding-top: 10px;
  font-family: monospace;
  font-weight: 400;
  font-size: 110%;
}

.itemsl {
  font-family: monospace;
  font-weight: 400;
  font-size: 120%;
  position: relative;
  left: 20px;
  bottom: 50px;
}
#xMark {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0%;
  left: 300px;
  cursor: pointer;
}
#xMark:hover {
  height: 50px;
  width: 50px;
}

#vMark {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0%;
  left: 245px;
  cursor: pointer;
}
#vMark:hover {
  height: 50px;
  width: 50px;
}

label {
  position: relative;
  font-family: monospace;
  font-weight: 400;
  font-size: 120%;
}
#option {
  position: relative;
  bottom: 65px;
  left: 20px;

}